# Python cache
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# Logs & outputs
logs/
outputs/
runs/

# Datasets & large assets
data/
dataset/
figures/

# Model weights & artifacts
*.pth
*.pt
*.ckpt
*.onnx
*.npz
*.npy
*.jpg
*.png

# VSCode
.vscode/
